<div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-3">
        <div class="text-center padding-25"><img src="./assets/images/logo.png"></div>
        <login-form class="login-form"></login-form>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="text-center text-muted col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-3" style="font-weight: bold; font-size: 16px;">
        <b>Have you taken our
            <a class="text-success" href="https://docs.google.com/forms/d/e/1FAIpQLScccBZiKA26cw7d175MSr7Iz3IRJKlup-dKOuaVV7zQPEMenQ/viewform">
                <u>Market Survey</u>
            </a> yet?
        </b>
    </div>
</div>
