<router-outlet></router-outlet>
<footer class="footer">
    <div class="container">
        <div class="copy-rights">© PVBid, Inc</div>
        <div class="links">
            <a href="http://www.pvbid.com/privacy" target="_blank">Privacy</a> |
            <a href="https://www.pvbid.com/terms" target="_blank">Terms</a> |
            <a href="https://www.pvbid.com/about" target="_blank">About</a> |
            <a href="https://www.pvbid.com/support" target="_blank">Support</a>
        </div>
        <small class="pull-right text-muted ng-binding" style="margin-top:3px;">ver. 2.20.43</small>
    </div>
</footer>