/* You can add global styles to this file, and also import other style files */

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136,
  "success": #398439,
);

@import "bootstrap/scss/bootstrap";

app-login form {
    background-color: white;
}

body {
    background-color: #e7efeb;
    margin: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}